.navbar{
    /* background-color: #8DC63F; */
    background-color: whitesmoke;
}

.navbar-brand img{
    height: 70px;
    /* width: 100px; */
}

.navbar-text h4{
    color: #8DC63F;
   
}

.navbar-text h4:hover{
    color: #2675B5;
}
.main-section-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.hero-text{
    font-size: 80px;
    color: #0C6DB7;
}
.hero-text-secondary{
    font-size: 60px;
    font-weight: lighter;
    color: #8DC63F;
}

.hero-text-discription{
    font-size: 25px;
    font-weight: lighter;
}


.button-lable{
    font-size: 25px;

}

.signup-btn{
    padding: 5px 20px;
    background-color: #2675B5;
    border-radius: 10px;
    border-style: none;
    color: white;
}

.signup-btn:hover{
    background-color: #1a5c92;

}

.login-btn{
    padding: 5px 20px;
    background-color: #8DC63F;
    border-radius: 10px;
    border-style: none;
    color: white;
}

.login-btn:hover{
    background-color: #476d13;

}


.modal-title{
   margin-left: 100px;
}

.Sign-Up-btn{
    background-color: #2675B5;
    border-style: none;
}

.Sign-Up-btn:hover{
    background-color: #8DC63F;
    border-style: none;
}


.Login-btn{
    background-color: #8DC63F;
    border-style: none;
}

.Login-btn:hover{
    background-color: #2675B5;
    border-style: none;
}


.modal-title-login{
    margin-left: 150px;
}


.result-btn{
    padding: 0px 25px 0px 25px;
    background-color: #2675B5;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-style: none;
    border-radius: 10px;

}

.result-btn:hover{
    background-color: #2675B5;
}

/* .card-body{
    padding-right:150px ;
} */

.box-1{
    height: 160px;
    width: 300px;
    border-style:solid;
    border-width: thin;
    border-color: darkgray;
}

.box-btn{
    padding: 3px 80px;
    background-color: white;
    color: #8DC63F;
    border-color: #476d13;
}

.box-btn:hover{
    background-color: #0C6DB7;
    color: white;
}
.box-1 p{
    color: #8DC63F;
}
.welcome-user{
    font-size: 40px;
    font-weight: lighter;
    color: #8DC63F;

}



table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
td {
    font-weight: normal;
}


.start-btn{
    padding: 10px 25px 10px 25px;
    background-color: #2675B5;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-style: none;
    border-radius: 10px;   
}

.start-btn:hover{
    background-color:#8DC63F;
}

.quetions-no{
    margin-left: 300px;
}
.result-box{
    margin-top: 100px;
}


.result-section-parent{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;
}

.result-circle{
    height: 150px;
    width: 150px;
    border: solid;
    border-radius:  50%;
}